.todos__heading {
    font-size: 30px;
    color: #fff;
}

.todos__single {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-image: url(https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?ext=jpg&size=626);
    transition: .2s;
}

.todos__single--text {
    flex: 1 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}

.icons span {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}